* {
    /* font-family: “Roboto”, “Arial”, “sans-serif”; */
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
}
section {
    position: fixed;
    align-items: top;
    height: 100vh;
}
.channel {
    border-right: 1.5px solid #c9c9c9;
}
/* title and logo */
.headbar {
    height: 60px;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    background-color: #eeeeee;
}
.headbar button {
    height: 30px;
    margin-left: 6px;
}
h1 {
    display: inline;
    color: #00838f;
}
#app_logo {
    height: 56px;
    background-color: #00838f;
}
/* chat part */
.mes {
    padding-top: 20px;
}
.mes small {
    color: rgb(100, 100, 100);
}
.mes-content {
    border-radius: 2%;
    margin-left: 20px;
    padding: 15px;
    background-color: #eeeeee;
}
.mes-content-self {
    border-radius: 2%;
    margin-left: 20px;
    padding: 10px;
    background-color: #00838f;
}
.mes-content-self p {
    color: white;
}
h2 {
    color: #00838f;
}
h2 {
    font-size: small;
}
ul {
    padding: 0;
}
button {
    background-color: #00838f;
    color: white;
    font-size: larger;
    text-transform: uppercase;
}
