* {
    font-family: “Roboto”, “Arial”, “sans-serif”;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
section {
    position: fixed;
    /* align-self: top; */
    height: 100vh;
}
h1,
h2 {
    color: #00838f;
}
h2 {
    font-size: small;
}
ul {
    padding: 0;
}
button {
    background-color: #00838f;
    color: white;
    font-size: larger;
    text-transform: uppercase;
}
.headbar {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
#app_logo {
    position: absolute;
    height: 56px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    border-radius: 7%;
    background-color: #00838f;
}
/* channels lista area */
.app_bar {
    width: 399px;
    height: 100vh;
    border-right: 1px solid rgb(175, 173, 173);
}
.app_bar a {
    width: 44px;
    height: 44px;
    background-color: #00838f;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 #aaaaaa;

    font-size: 36px;
    color: white;
    text-align: center;
    line-height: 44px;

    position: absolute;
    top: 44px;
    right: 22px;

    cursor: pointer;
}
.app_bar h1 {
    margin-left: 80px;
}
.app_bar .channel-list {
    padding-top: 15px;
    padding-bottom: 15px;
}
.app_bar .channel-list small,
i {
    color: rgb(97, 96, 96);
}
.app_bar .channel-list li {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}
.app_bar .channel-list li span {
    font-size: 16px;
    margin: 0px 22px;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1 1 auto;
}
.app_bar h2 {
    padding-left: 10px;
    font-size: 90%;
    text-transform: uppercase;
}
.app_bar li {
    box-sizing: border-box;
    padding: 22px;
    height: 66px;
}
.college {
    background-color: #eeeeee;
    border-right: 4.5px solid #00838f;
    border-radius: 1%;
}
/* chat area */
.messages {
    overflow: scroll;
    left: 400px;
    width: calc(100% - 400px);
}
.messages .headbar {
    position: fixed;
    width: calc(100% - 400px);
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid white;
}
.messages .headbar a {
    font-size: 180%;
    color: #00838f;
    margin-right: 15px;
}
.messages .headbar h1 {
    margin-left: 15px;
}
.messages p {
    width: 100%;
}
.all-mes {
    padding-right: 30px;
    margin-top: 70px;
    margin-bottom: 79px;
    display: block;
    /* margin-right: 20px; */
}
.mes {
    display: flex;
    padding-top: 20px;
}
.mes h2 {
    margin-bottom: 10px;
    font-size: 100%;
}
.mes i, .incomming i{
    /* margin-left: 18px; */
    font-size: 220%;
}
.mes .inc-icon, .incomming .inc-icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.mes .inc-icon i {
    margin-left: 18px;
    /* margin-right: 18px; */
}
.all-mes small {
    color: rgb(100, 100, 100);
    /* margin-left: 20px; */
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}
.incomming {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    /* margin-right: auto; */
}
.incomming small {
    justify-content: flex-end;
}
.incomming .inc-icon i {
    margin-left: 18px;
    margin-right: 18px;
}
.mes-content {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 5px;
    margin-left: 20px;
    padding: 20px;
    background-color: #eeeeee;
}
.mes-content-self {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-left: 20px;
    padding: 20px;
    background-color: #00838f;
}
.mes-content-self p {
    color: white;
}
#input-area {
    width: calc(100% - 400px);
    height: 7%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    right: 0;
    background-color: #eeeeee;
}

#input-area a {
    font-size: 180%;
    margin: 20px 20px;
    padding: 11px;
    color: #00838f;
}

#input-area i {
    background-color: #00838f;
    color: white;
    border-radius: 50%;
    padding: 11px;
    margin: 20px 20px;
}

#input-area i:hover,
a:hover {
    cursor: pointer;
}

#input-area input {
    height: 45%;
    width: 90%;
    border: none;
    border-radius: 15px;
    padding: 10px;
}
